th {
  font-size: 22px;
}

table {
  width: 90%;
  margin: 0 auto;
}

.red-style {
  color: red;
}

.green-style {
  color: green;
}

.edit-input {
  width: 60%;
}

.edit-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  width: 70%;
  margin: 0 auto;
}

.save-btn {
  width: 80px;
  margin: 0 10px;
}

td {
  font-size: 21px;
}

tbody tr:hover {
  background-color: rgb(200, 200, 200);
}

.edit-field:hover {
  background-color: rgb(200, 200, 200);
}
