<div class="container">
    <div class="card" style="width: 18rem;">
      <img src="assets/images/prohibited words.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Angular list of prohibited words</h5>
        <a [routerLink]="[ '/cenzor']" class="btn btn-success btn-on-card">details</a>
        <!-- <a [routerLink]="[ '/path', routeParam ]">name</a> -->
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets/images/task list.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Angular task list</h5>
        <a [routerLink]="[ '/task' ]" class="btn btn-success btn-on-card">details</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets/images/user list.png" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Angular users list</h5>
        <a [routerLink]="[ '/users']"  class="btn btn-success btn-on-card">details</a>
      </div>
    </div>
    </div>